html {
    background-color: lightgrey;
}
.mid {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
.title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    background-color: lightskyblue;
    font-size: 50px;
}

.content {
    background-color: beige;
    color: blue;
    font-size: x-large;
}

img {
    display:block;
    margin:auto;
}